<p id="notice"><%= notice %></p>

<p>
  <b>Lo nombre:</b>
  <%= @trlocalidad.lo_nombre %>
</p>

<p>
  <b>Lo cp:</b>
  <%= @trlocalidad.lo_cp %>
</p>

<p>
  <b>Lo dpto:</b>
  <%= @trlocalidad.lo_dpto %>
</p>

<p>
  <b>Lo provincia:</b>
  <%= @trlocalidad.lo_provincia %>
</p>


<%= link_to 'Edit', edit_trlocalidad_path(@trlocalidad) %> |
<%= link_to 'Back', trlocalidads_path %>
