<p id="notice"><%= notice %></p>

<p>
  <b>No nombre:</b>
  <%= @trnodo.no_nombre %>
</p>

<p>
  <b>No ip:</b>
  <%= @trnodo.no_ip %>
</p>

<p>
  <b>No idtorres:</b>
  <%= @trnodo.no_idtorres %>
</p>

<p>
  <b>No iduser:</b>
  <%= @trnodo.no_iduser %>
</p>


<%= link_to 'Edit', edit_trnodo_path(@trnodo) %> |
<%= link_to 'Back', trnodos_path %>
